.base-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100svh;
  background-color: black;
  overflow: hidden;

  .body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding-block: 2rem;
    padding-inline: 20rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
